@import "basic.scss";
@import "grid";

.df {
  display: flex;
  align-items: center;

  &.s_betwen {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }
}

body {
  display: flex;
  flex-direction: column;

  &.no_scroll {
    overflow: hidden;
  }
}

.hover_op {
  opacity: 1;
  transition: opacity 180ms;

  &:hover {
    opacity: 0.64;
    transition: opacity 180ms;
  }
}

.dwnld {
  width: fit-content;
  color: #000;
  font-size: 16px;
  font-family: "Inter - Medium";
  line-height: 24px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #fed778;
  box-shadow: 0 16px 16px rgba(254, 215, 120, 0.16);

  @media all and (max-width: 768px) {
    width: 100%;
    display: block;
    text-align: center;
  }

  &::before {
    content: "Download for Free!";
    white-space: nowrap;
  }
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media all and (max-width: 1150px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.img_wrap {
  flex: none;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.logo {
  &::before {
    content: "";
    display: block;
    flex: none;
    width: 48px;
    height: 48px;
    background: url("../img/logo.svg") no-repeat center / contain;
  }

  &::after {
    color: #fff;
    content: "Quottie.io";
    white-space: nowrap;
    font-size: 24px;
    line-height: 32px;
    margin-left: 16px;

    @media all and (max-width: 767px) {
      display: none;
    }
  }
}

header {
  z-index: 2;
  position: fixed;
  width: 100%;
  padding: 32px;
  background-color: #1a1a1a;

  @media all and (max-width: 767px) {
    padding: 16px;
  }

  .apple {
    padding: 12px;
    border-radius: 8px;
    background-color: #000;
    width: 141px;

    &::before {
      content: "";
      display: block;
      flex: none;
      width: 24px;
      height: 24px;
      margin-right: 8px;
      background: url("../img/apple_icon.svg") no-repeat center / contain;
    }

    &::after {
      color: #fff;
      content: "App Store";
      white-space: nowrap;
      font-size: 16px;
      font-family: "Inter - Medium";
      line-height: 24px;
    }
  }
}

main {
  flex: 1 1 auto;
  min-height: auto;
  padding-top: 112px;

  @media all and (max-width: 767px) {
    padding-top: 80px;
  }
}

footer {
  background-color: #1a1a1a;
  padding-top: 32px;
  padding-bottom: 32px;

  @media all and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .top {
    padding-bottom: 32px;
    margin-bottom: 32px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.16);

    @media all and (max-width: 767px) {
      padding-bottom: 16px;
      margin-bottom: 16px;
    }

    .logo {
      justify-content: center;
    }
  }

  .reserved {
    text-align: center;
    margin-bottom: 32px;
    opacity: 0.32;
    font-size: 12px;
    line-height: 16px;

    @media all and (max-width: 767px) {
      margin-bottom: 16px;
    }
  }

  .terms {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 16px;

    & + .terms {
      margin-top: 16px;

      @media all and (max-width: 767px) {
        margin-bottom: 8px;
      }
    }
  }
}

.op_64 {
  opacity: 0.64;
}

.phone {
  display: block;

  @media all and (max-width: 1000px) {
    margin-bottom: 96px;
    margin-top: 96px;
  }

  @media all and (max-width: 767px) {
    margin-bottom: 64px;
    margin-top: 64px;
  }

  &.left {
    margin-right: auto;

    @media all and (max-width: 1000px) {
      margin-left: auto;
    }
  }

  &.right {
    margin-left: auto;

    @media all and (max-width: 1000px) {
      margin-right: auto;
    }
  }
}

.main_top {
  min-height: 715px;
  background: #000 url("../img/top_bg.jpg") no-repeat top center;

  h1 {
    font-size: 64px;
    line-height: 96px;
    margin-bottom: 32px;
    margin-top: 140px;
    font-weight: 400;

    @media all and (max-width: 767px) {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 32px;
    }
  }

  .main_slogan {
    margin-bottom: 74px;
    max-width: 522px;
    font-size: 24px;
    line-height: 32px;

    @media all and (max-width: 1000px) {
      max-width: 1000px;
    }

    @media all and (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }

  .phone {
    margin-top: 96px;

    @media all and (max-width: 767px) {
      margin-top: 64px;
    }
  }
}

.marquee {
  width: 100%;
  overflow: hidden;
  color: #fff;
  font-family: "Inter - Regular";
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 96px;
  background-color: #5138ee;

  @media all and (max-width: 767px) {
    font-size: 32px;
    line-height: 48px;
  }
}

h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;

  @media all and (max-width: 767px) {
    font-size: 24px;
    line-height: 32px;
  }
}

.customize {
  padding-top: 96px;

  @media all and (max-width: 767px) {
    padding-top: 64px;
  }

  .text {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 96px;
    padding-left: 40px;

    @media all and (max-width: 1000px) {
      padding-left: 0;
    }
  }
}

.rounds_grid {
  margin-bottom: 96px;
  display: grid;
  grid-gap: 32px;
  grid-template-areas:
    "a a b b b b"
    "a a b b b b"
    "c . b b b b"
    ". d b b b b";

  img {
    object-position: center;
    object-fit: cover;
  }

  .middle {
    grid-area: a;
  }

  .big {
    grid-area: b;
    height: 750px;
    width: 750px;

    @media all and (max-width: 1000px) {
      width: auto;
      height: auto;
    }
  }

  .small_1 {
    grid-area: c;
  }

  .small_2 {
    grid-area: d;
  }
}

.motivation {
  h2 {
    margin-bottom: 96px;

    @media all and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }

  .feedback_desctop {
    align-items: stretch;
    grid-gap: 32px;

    & > * {
      flex: 1 1 10%;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }

    .text {
      font-size: 24px;
      line-height: 32px;
      flex: 1 1 auto;
      margin-bottom: 64px;
    }

    .name {
      color: #fed778;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.interesed {
  padding-top: 96px;

  @media all and (max-width: 767px) {
    padding-top: 0;
  }

  h2 {
    margin-bottom: 32px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 64px;
  }
}

.benefits {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, minmax(100px, 245px));

  @media all and (max-width: 1000px) {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  @media all and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  img {
    width: 24px;
    height: 24px;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}

h3 {
  text-align: center;
  max-width: 749px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: "Inter - Regular";
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 96px;
  margin-bottom: 64px;

  @media all and (max-width: 1000px) {
    text-align: center;
  }

  @media all and (max-width: 767px) {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 32px;
  }
}

.bottom {
  padding-top: 96px;
  padding-bottom: 96px;
  background: url("../img/bottom_bg.jpg") no-repeat bottom center / contain;

  @media all and (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .dwnld {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.terms_wrap {
  padding-top: 96px;
  padding-bottom: 96px;

  @media all and (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  h1 {
    text-align: center;
    margin-bottom: 32px;
    color: #f8f8f8;
    font-size: 64px;
    line-height: 96px;

    @media all and (max-width: 1000px) {
      text-align: center;
    }

    @media all and (max-width: 767px) {
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 48px;
    }
  }

  p {
    color: #f8f8f8;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;

    @media all and (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .link {
    color: #f8f8f8;
    font-size: 24px;
    line-height: 32px;
    text-decoration: underline;

    @media all and (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
      word-break: break-all;
    }

    &:hover {
      text-decoration: none;
    }
  }

  h2 {
    color: #f8f8f8;
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    text-align: left;
    width: 100%;
    padding-left: 0;

    @media all and (max-width: 1000px) {
      text-align: center;
    }

    @media all and (max-width: 767px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  ul,
  ol {
    margin-block-start: 0;
    margin-block-end: 0;
    list-style-position: inside;
  }

  li {
    color: #f8f8f8;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    @media all and (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }

    p {
      display: contents;
      margin-bottom: 0;
    }
  }
}

.w522 {
  max-width: 522px;

  @media all and (max-width: 1000px) {
    max-width: 100%;
  }

  &.left {
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }
}

.w358 {
  max-width: 358px;
  margin-left: auto;
  margin-right: auto;
}

.align_center {
  align-items: center;

  .mob_order_1 {
    order: 1;
  }

  .mob_order_2 {
    order: 2;
  }
}
